<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsrec.manage.mapper.MessagesMapper">

    <resultMap type="Messages" id="MessagesResult">
        <result property="messageId"    column="message_id"    />
        <result property="userId"    column="user_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="content"    column="content"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectMessagesVo">
        select message_id, user_id, parent_id, content, remark, create_time, update_time, create_by, update_by from tb_messages
    </sql>

    <select id="selectMessagesList" resultType="com.newsrec.manage.domain.Messages">
        select n.*, u.username AS username,u.avatar AS  avatar from tb_messages  n
        LEFT JOIN tb_users u ON n.user_id = u.user_id
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="username != null and username != ''"> and u.username like concat('%', #{username}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
        ORDER BY n.message_id DESC
    </select>


    <select id="selectMessagesByMessageId" parameterType="Long" resultMap="MessagesResult">
        <include refid="selectMessagesVo"/>
        where message_id = #{messageId}
    </select>

    <!--获取顶级留言-->
    <select id="selectTopMessages" resultType="com.newsrec.manage.domain.Messages">
        SELECT n.*, u.username AS username, u.avatar AS avatar
        FROM tb_messages n
                 LEFT JOIN tb_users u ON n.user_id = u.user_id
        WHERE n.parent_id IS NULL
        ORDER BY n.create_time DESC
    </select>

    <!--查询某个顶级留言下的所有子留言-->
    <select id="selectChildMessages" resultType="com.newsrec.manage.domain.Messages">
        SELECT n.*, u.username AS username, u.avatar AS avatar
        FROM tb_messages n
                 LEFT JOIN tb_users u ON n.user_id = u.user_id
        where n.parent_id = #{parentId}
        ORDER BY n.create_time DESC
    </select>

    <insert id="insertMessages" parameterType="Messages" useGeneratedKeys="true" keyProperty="messageId">
        insert into tb_messages
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateMessages" parameterType="Messages">
        update tb_messages
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where message_id = #{messageId}
    </update>

    <delete id="deleteMessagesByMessageId" parameterType="Long">
        delete from tb_messages where message_id = #{messageId}
    </delete>

    <delete id="deleteMessagesByMessageIds" parameterType="String">
        delete from tb_messages where message_id in
        <foreach item="messageId" collection="array" open="(" separator="," close=")">
            #{messageId}
        </foreach>
    </delete>
</mapper>
