<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsrec.manage.mapper.NewsMapper">

    <resultMap type="News" id="NewsResult">
        <result property="newsId"    column="news_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="categoryId"    column="category_id"    />
        <result property="userId"    column="user_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectNewsVo">
        select news_id, title, content, img, category_id, user_id, status, remark, create_time, update_time, create_by, update_by from tb_news
    </sql>

    <select id="selectNewsList" parameterType="News" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="img != null and img != ''"> and img = #{img}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="categoryId != null "> and category_id = #{categoryId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectNewsByNewsId" parameterType="Long" resultMap="NewsResult">
        <include refid="selectNewsVo"/>
        where news_id = #{newsId}
    </select>

    <select id="selectNewsVOList" resultType="com.newsrec.manage.domain.vo.NewsVo">
        SELECT  n.*, u.username AS username, nc.category_name AS categoryName,
        (SELECT COUNT(*) FROM tb_comments WHERE news_id = n.news_id) AS commentCount,
        (SELECT COUNT(*) FROM tb_history WHERE news_id = n.news_id) AS viewCount,
        (SELECT COUNT(*) FROM tb_likes WHERE news_id = n.news_id) AS likeCount,
        (SELECT COUNT(*) FROM tb_favorites WHERE news_id = n.news_id) AS collectCount
        FROM tb_news n
        LEFT JOIN tb_users u ON n.user_id = u.user_id
        LEFT JOIN tb_news_categories nc ON n.category_id = nc.category_id
        <where>
            <if test="title != null  and title != ''"> AND n.title LIKE CONCAT('%', #{title}, '%')</if>
            <if test="content != null  and content != ''">AND n.content = #{content}</if>
            <if test="categoryId != null ">AND n.category_id = #{categoryId}</if>
            <if test="userId != null ">AND n.user_id = #{userId}</if>
            <if test="status != null ">AND n.status = #{status}</if>
            <if test="newsId != null ">AND n.news_id = #{newsId}</if>
        </where>
        ORDER BY n.news_id DESC
    </select>

<!--    根据id获取NewsVo对象-->
    <select id="selectNewsVOByNewsId" resultType="com.newsrec.manage.domain.vo.NewsVo">
        SELECT n.*, u.username AS username, nc.category_name AS categoryName,
               (SELECT COUNT(*) FROM tb_comments WHERE news_id = n.news_id) AS commentCount,
               (SELECT COUNT(*) FROM tb_history WHERE news_id = n.news_id) AS viewCount,
               (SELECT COUNT(*) FROM tb_likes WHERE news_id = n.news_id) AS likeCount,
               (SELECT COUNT(*) FROM tb_favorites WHERE news_id = n.news_id) AS collectCount
        FROM tb_news n
                 LEFT JOIN tb_users u ON n.user_id = u.user_id
                 LEFT JOIN tb_news_categories nc ON n.category_id = nc.category_id
        WHERE n.news_id = #{newsId}
    </select>

<!--    查询所有的新闻vo，审核通过的热点新闻-->
    <select id="selectAllNewsVOList" resultType="com.newsrec.manage.domain.vo.NewsVo">
        SELECT n.*, u.username AS username, nc.category_name AS categoryName,
               (SELECT COUNT(*) FROM tb_comments WHERE news_id = n.news_id) AS commentCount,
               (SELECT COUNT(*) FROM tb_history WHERE news_id = n.news_id) AS viewCount,
               (SELECT COUNT(*) FROM tb_likes WHERE news_id = n.news_id) AS likeCount
        FROM tb_news n
                 LEFT JOIN tb_users u ON n.user_id = u.user_id
                 LEFT JOIN tb_news_categories nc ON n.category_id = nc.category_id
        WHERE n.status = 1
    </select>

    <insert id="insertNews" parameterType="News" useGeneratedKeys="true" keyProperty="newsId">
        insert into tb_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="img != null">img,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="img != null">#{img},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateNews" parameterType="News">
        update tb_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="img != null">img = #{img},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where news_id = #{newsId}
    </update>

    <delete id="deleteNewsByNewsId" parameterType="Long">
        delete from tb_news where news_id = #{newsId}
    </delete>

    <delete id="deleteNewsByNewsIds" parameterType="String">
        delete from tb_news where news_id in
        <foreach item="newsId" collection="array" open="(" separator="," close=")">
            #{newsId}
        </foreach>
    </delete>
</mapper>
