<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsrec.manage.mapper.FeedbackMapper">

    <resultMap type="Feedback" id="FeedbackResult">
        <result property="feedbackId"    column="feedback_id"    />
        <result property="userId"    column="user_id"    />
        <result property="feedbackType"    column="feedback_type"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="reply"    column="reply"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectFeedbackVo">
        select feedback_id, user_id, feedback_type, content, status, reply, remark, create_time, update_time, create_by, update_by from tb_feedback
    </sql>

    <select id="selectFeedbackList" resultType="com.newsrec.manage.domain.Feedback">
        select n.*, u.username AS username from tb_feedback  n
        LEFT JOIN tb_users u ON n.user_id = u.user_id
        <where>
            <if test="feedbackType != null  and feedbackType != ''"> and feedback_type = #{feedbackType}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="userId != null "> and n.user_id = #{userId}</if>
        </where>
        ORDER BY n.feedback_id DESC
    </select>

    <select id="selectFeedbackByFeedbackId" parameterType="Long" resultMap="FeedbackResult">
        <include refid="selectFeedbackVo"/>
        where feedback_id = #{feedbackId}
    </select>

    <insert id="insertFeedback" parameterType="Feedback" useGeneratedKeys="true" keyProperty="feedbackId">
        insert into tb_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="feedbackType != null and feedbackType != ''">feedback_type,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="status != null">status,</if>
            <if test="reply != null">reply,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="feedbackType != null and feedbackType != ''">#{feedbackType},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="reply != null">#{reply},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateFeedback" parameterType="Feedback">
        update tb_feedback
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="feedbackType != null and feedbackType != ''">feedback_type = #{feedbackType},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="reply != null">reply = #{reply},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where feedback_id = #{feedbackId}
    </update>

    <delete id="deleteFeedbackByFeedbackId" parameterType="Long">
        delete from tb_feedback where feedback_id = #{feedbackId}
    </delete>

    <delete id="deleteFeedbackByFeedbackIds" parameterType="String">
        delete from tb_feedback where feedback_id in
        <foreach item="feedbackId" collection="array" open="(" separator="," close=")">
            #{feedbackId}
        </foreach>
    </delete>
</mapper>
